---
import BaseLayout from "@/layouts/BaseLayout";
import ContactSection from "@/components/ContactSection.astro";
---

<BaseLayout meta={{ title: "Contact" }}>


<!-- <section class="bg-white text-black border-b">
  <div class="mx-auto max-w-4xl px-6 py-20 text-center">

    <h1 class="text-5xl font-bold">
      Contact Us
    </h1>

    <p class="mt-4 text-gray-600">
      Let’s discuss your idea and build something amazing.
    </p>

  </div>
</section> -->

<!-- FORM SECTION (your existing component) -->
<section class="bg-white ">
  <ContactSection />
</section>

</BaseLayout>