---
import StarIcon from "@/assets/icons/star.svg";
---

<style is:inline>
  .star {
    display: inline-block;
    width: 1em;
    height: 1em;
  }
  .fill > svg {
    fill: #ffcc00;
  }
</style>

<article>
  <div class="review-card rounded-[10px] border-2 border-solid border-gray-500">
    <div class="review-card-wrapper p-[10px] md:p-[20px]">
      <div class="review-item">
        <div class="review mb-[10px] flex items-center gap-x-[5px]">
          <span class="star fill"><StarIcon /></span>
          <span class="star"><StarIcon /></span>
          <span class="star"><StarIcon /></span>
          <span class="star"><StarIcon /></span>
          <span class="star"><StarIcon /></span>
        </div>
        <div>
          <h3
            class="text-[14px] font-bold leading-[16.8px] tracking-[-0.21px] md:text-[16px] md:leading-[19.2px] md:tracking-[-0.24px]"
          >
            Delivering micro innovations in daily life, Recursive Zero simplifies your daily tasks with
            expertly-crafted, user-friendly apps
          </h3>
        </div>
      </div>
      <div class="reviewer-details mt-[40px]">
        <p class="#FFF text-start text-[12.5px] font-semibold leading-[20px]">Ananya Kapoor</p>
      </div>
    </div>
  </div>
</article>
